body {
  background-image: url(./images/bgphoto-drewbeamer-unsplash.jpeg);
}

.App {
  text-align: center;
}

.main-content {
  margin-top: 25px;
  margin-bottom: 25px;
}

.main-container {
  background-color: #fff;
  color: #000;
  margin: 0 auto;
  border-radius: 25px;
  height: 75vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.bio-header-container {
  background-color: #0f9d58;
  background-image: url(./images/bg_bggenerator_galaxy.jpg);
  color: #fff;
  height: 50%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.contact-form {
  justify-content: center;
}

.input-container {
  display: flex;
  width: 100%;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.icon {
  color: #0f9d58;
  display: flex;
  align-self: center;
  min-width: 50px;
  min-height: 1.2rem;
  text-align: center;
}

.btn {
  background-color: #0f9d58;
  color: white;
  opacity: 0.9;
}

.btn:hover {
  color: white;
  font-weight: bold;
  opacity: 1;
}

.content-header {
  background-color: #0f9d58;
  color: #fff;
  height: 15vh;
  max-width: 100%;
}

.content-header-row {
  background-image: url(./images/bg_bggenerator_galaxy.jpg);
  align-items: center;
  height: 100%;
}

.bio-photo {
  max-height: 25vh;
}

.bio-header-row {
  align-items: center;
  justify-content: center;
  height: 100%;
}

.about-row {
  align-items: center;
  justify-content: center;
  height: 100%;
}

.about-container {
  align-items: center;
}

.info-table {
  width: 300px;
  table-layout: fixed;
  margin: 0 auto;
}

.green-text {
  color: #0f9d58;
}

.social-stack {
  justify-content: center;
}

button {
  text-decoration: none;
  background-color: transparent;
}
