body {
  background-image: url(./images/cool-background.png);
}

.App {
  text-align: center;
}

.main-content {
  margin-top: 25px;
  margin-bottom: 25px;
}

.main-container {
  background-color: #fff;
  color: #000;
  margin: 0 auto;
  border-radius: 25px;
  height: 75vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.bio-header-container {
  background-color: #0f9d58;
  background-image: url(./images/bg_bggenerator_galaxy.jpg);
  color: #fff;
  height: 50%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.contact-form {
  justify-content: center;
}

.input-container {
  display: flex;
  width: 100%;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.icon {
  color: #0f9d58;
  display: flex;
  align-self: center;
  min-width: 50px;
  min-height: 1.2rem;
  text-align: center;
}

.btn {
  background-color: #0f9d58;
  color: white;
  opacity: 0.9;
}

.btn:hover {
  color: white;
  font-weight: bold;
  opacity: 1;
}

.content-header {
  background-color: #0f9d58;
  color: #fff;
  height: 15vh;
  max-width: 100%;
}

.content-header-row {
  background-image: url(./images/bg_bggenerator_galaxy.jpg);
  align-items: center;
  height: 100%;
}

.bio-photo {
  max-height: 25vh;
}

.bio-header-row {
  align-items: center;
  justify-content: center;
  height: 100%;
}

.about-row {
  align-items: center;
  justify-content: center;
  height: 100%;
}

.portfolio-row {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.portfolio-column {
  display: flex;
  justify-content: center;
}

.about-container {
  align-items: center;
}

.experiences-container {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.info-table {
  width: 300px;
  table-layout: fixed;
  margin: 0 auto;
}

table {
  border-style: none;
}

a {
  color: #0f9d58;
  text-decoration: none;
}

a:hover {
  color: #0f9d58;
  font-weight: bold;
  text-decoration: none;
}

.green-text {
  color: #0f9d58;
}

.social-stack {
  justify-content: center;
}

button {
  text-decoration: none;
  background-color: transparent;
}

img {
  cursor: pointer;
}

img:hover {
  transform: scale(1.1);
}

.social-icon:hover {
  transform: scale(1.05);
}

.techstack-logo {
  height: 7.5vh;
}

.yoyo {
  background-color: red;
  color: red;
  display: flex;
  justify-content: center;
}

.accordion-button:after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.accordion-button:not(.collapsed) {
  background-image: url(./images/bg_bggenerator_galaxy.jpg);
  background-color: #0f9d58;
  color: white;
}

.accordion-button:hover {
  background-color: #0f9d58;
  color: white;
}

.accordion-button:focus {
  box-shadow: none;
}

.card {
  margin-top: 1.5rem;
  font-size: smaller;
}

.card-header {
  background-color: #0f9d58;
  color: #fff;
  font-size: smaller;
  font-weight: bold;
  margin-bottom: 10px;
}
