body {
  background-image: url(./images/bgphoto-drewbeamer-unsplash.jpeg);
}

.App {
  text-align: center;
}

.main-content {
  margin-top: 25px;
  margin-bottom: 25px;
}

.main-container {
  background-color: #fff;
  color: #000;
  margin: 0 auto;
  border-radius: 25px;
  height: 75vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.bio-header {
  background-color: #0f9d58;
  color: #fff;
  height: 50%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.content-header {
  background-color: #0f9d58;
  color: #fff;
  height: 15vh;
  max-width: 100%;
}

.bio-photo {
  height: 50%;
}

.abc {
  background-color: red;
}
